@media (min-width: 421px) {
  .button-buy {
    margin-top: 140px;
  }

  .button-sell {
    top: 100px;
  }
}

@media (min-width: 450px) {
  .shipping-mail a {
    margin-left: 160px;
  }

  .shipping-contact a {
    margin-left: 150px;
  }

  .radio-content p {
    left: 380px;
  }

  .tab.standard-shipping {
    margin-left: 180px;
  }

  .fab.fa-cc-visa {
    left: 390px;
  }

  .fab.fa-cc-mastercard {
    left: 410px;
  }
  .input.card-date,
  .input.card-code {
    min-width: 181px;
  }

  .card-important i {
    left: 174px;
  }
}

@media (min-width: 481px) {
  .input.first.contact {
    min-width: 200px;
  }

  .input.last.contact {
    min-width: 200px;
  }
  .button-sign.send {
    position: absolute;
    left: 391px;
    margin: -4px -28px;
  }

  .select-content.country {
    min-width: 221px;
  }

  .input.postal {
    margin-left: 10px;
    min-width: 201px;
  }
  .button-sign.update {
    position: absolute;
    top: 402px;
    left: 383px;
  }
}

@media (min-width: 500px) {
  .star-two {
    left: 455px;
    top: 386px;
  }
}

@media (min-width: 590px) {
  .search-content {
    display: flex;
    flex-direction: row;
  }
  .search-result {
    width: unset;
  }
}

@media (min-width: 600px) {
  .topnav {
    position: relative;
    position: unset;
    display: inline-block;
    width: auto;
    background: none;
    transform: none;
    text-align: center;
  }

  .topnav a {
    opacity: 1;
  }

  header label {
    display: none;
  }

  .searchbox-one {
    display: none;
  }

  .searchbox {
    text-align: center;
    display: inline-block;
  }

  .topnav .icon-above {
    display: inline-block;
    padding: 0px 10px;
    width: auto;
  }

  .topnav .icon-above .fas {
    display: block;
    position: static;
    text-align: center;
    padding: 6px 0px;
  }

  .footer-content {
    margin-top: 40px;
  }
  .input-container {
    margin: 20px 40px;
  }
  .input-container.name {
    margin-right: 66px;
  }
}

@media (min-width: 643px) {
  .subnav {
    display: flex;
    gap: 25px;
  }
  .search-content {
    display: flex;
    flex-direction: row;
  }
  .games.search {
    padding: 38px;
    text-align: center;
  }
}

@media (min-width: 665px) {
  .user-information.account {
    margin-top: 0px;
  }
  .button-sign.update {
    top: 323px;
  }

  .profile {
    top: 38px;
    left: 600px;
  }
}

@media (min-width: 700px) {
  .form-wrapper {
    display: flex;
    flex-direction: row;
  }

  .user-information {
    border-right: 1px solid #c4c4c4;
  }

  .address {
    padding-top: 0px;
    padding-left: 10px;
  }
}

@media (min-width: 800px) {
  .logo {
    max-height: 135px;
  }

  header {
    flex-direction: row;
  }

  .header-signin {
    flex-direction: column;
  }

  .bottomnav ul {
    padding-left: 40px;
  }

  .topnav {
    text-align: end;
  }

  .form-wrapper.cart {
    flex-direction: row;
  }

  .price-info {
    padding-top: 50px;
    padding-left: 50px;
  }

  .price-info p {
    font-size: 12px;
    padding-left: 75px;
  }

  .price-total {
    position: absolute;
    top: 160px;
    left: 447px;
  }

  .form-wrapper.shipping {
    flex-direction: row;
  }

  .product-info.shipping,
  .product-info.shipping.payment {
    align-self: unset;
    margin-top: 0px;
    top: 0px;
  }

  .cart-frame,
  .cart-frame.payment {
    min-height: 100vh;
  }
}

@media (min-width: 820px) {
  .search-result {
    grid-template-columns: repeat(3, 1fr);
  }
  .games.search {
    padding: 35px;
  }
}
